#root {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-size: cover;
}

#app-container {
  position: relative;
  width: 800px;
  padding-top: 25px;
  background-color: rgb(84, 88, 88);
  opacity: 0.8;
  border-radius: 15px;
}

#temporary {
  position: relative;
  top: 0%;
  left: 0;
  transform: translate(46%, 5%);
  width: 420px;
  height: 50px;
  background-color: rgb(207, 207, 204);
  border-radius: 10px;
  text-align: center;
  padding-top: 10px;
}
#humidity {
  position: relative;
  top: 0%;
  left: 0;
  transform: translate(46%, 5%);
  width: 420px;
  height: 50px;
  background-color: rgb(207, 207, 204);
  border-radius: 10px;
  text-align: center;
  padding-top: 10px;
}
#clouds {
  position: relative;
  top: 0%;
  left: 0;
  transform: translate(46%, 5%);
  width: 420px;
  height: 50px;
  background-color: rgb(207, 207, 204);
  border-radius: 10px;
  text-align: center;
  padding-top: 10px;
}

#town {
  position: relative;
  top: 0%;
  left: 0;
  transform: translate(46%, 5%);
  width: 420px;
  height: 50px;
  background-color: rgb(207, 207, 204);
  border-radius: 10px;
  text-align: center;
  padding-top: 10px;
}
#input {
  position: relative;
  top: 0%;
  left: 0;
  transform: translate(45%, 5%);
  width: 400px;
  text-align: center;
  padding: 10px;
  font-size: 2rem;
  font-weight: bold;
  border-radius: 10px;
  background-color: rgb(181, 208, 209);
}

#localtime {
  position: relative;
  top: 0%;
  left: 0;
  transform: translate(46%, 5%);
  width: 420px;
  height: 50px;
  background-color: rgb(207, 207, 204);
  border-radius: 10px;
  text-align: center;
  padding-top: 10px;
}

::placeholder {
  color: brown;
}
