#root {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-size: cover;
}

#app-container {
  position: relative;
  width: 40%;
  padding-top: 25px;
  background-color: rgb(84, 88, 88);
  opacity: 0.8;
}

#temporary {
  width: 800px;
  height: 50px;
  background-color: beige;
  margin-left: 80px;
  text-align: center;
  padding-top: 10px;
}
#humidity {
  width: 800px;
  height: 50px;
  background-color: beige;
  margin-left: 80px;
  text-align: center;
  padding-top: 10px;
}
#clouds {
  width: 800px;
  height: 50px;
  background-color: beige;
  margin-left: 80px;
  text-align: center;
  padding-top: 10px;
}

#town {
  width: 800px;
  height: 50px;
  background-color: beige;
  margin-left: 80px;
  text-align: center;
  padding-top: 10px;
}
#input {
  position: relative;
  top: 10%;
  left: 18%;
  width: 600px;
  text-align: center;
  padding: 10px;
  font-size: 2rem;
  font-weight: bold;
}

::placeholder {
  color: brown;
}
